{% extends 'base.html.twig' %}

{% block title %}Crear Usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('usuario/_form.html.twig') }}

    <a href="{{ path('app_usuario_index') }}">Volver a la lista</a>
{% endblock %}
