{% extends 'base.html.twig' %}

{% block title %}Edit RolPersona{% endblock %}

{% block body %}
    <h1>Edit RolPersona</h1>

    {{ include('rol_persona/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rol_persona_index') }}">back to list</a>

    {{ include('rol_persona/_delete_form.html.twig') }}
{% endblock %}
