{% extends 'base.html.twig' %}

{% block title %}Nuevo Rol Persona{% endblock %}

{% block body %}
    <h1>Crear nuevo Rol Persona</h1>

    {{ include('rol_persona/_form.html.twig') }}

    <a href="{{ path('app_rol_persona_index') }}">Volver a la lista</a>
{% endblock %}
