{% extends 'base.html.twig' %}

{% block title %}Editar Vehiculo{% endblock %}

{% block body %}
    <h1>Editar Vehiculo</h1>

    {{ include('vehiculo/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_vehiculo_index') }}">Volver a la lista</a>

    {{ include('vehiculo/_delete_form.html.twig') }}
{% endblock %}
