{% extends 'base.html.twig' %}

{% block title %}Nuevo Vehiculo{% endblock %}

{% block body %}
    <h1>Crear nuevo Vehiculo</h1>

    {{ include('vehiculo/_form.html.twig') }}

    <a href="{{ path('app_vehiculo_index') }}">Volver a la lista</a>
{% endblock %}
