<form method="post" action="{{ path('app_auditoria_delete', {'id': auditorium.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auditorium.id) }}">
    <button class="btn">Eliminar</button>
</form>
