{% extends 'base.html.twig' %}

{% block title %}Editar Auditoria{% endblock %}

{% block body %}
    <h1>Editar Auditoria</h1>

    {{ include('auditoria/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_auditoria_index') }}">Volver a la lista</a>

    {{ include('auditoria/_delete_form.html.twig') }}
{% endblock %}
