{% extends 'base.html.twig' %}

{% block title %}New Auditoria{% endblock %}

{% block body %}
    <h1>Crear nueva auditoria</h1>

    {{ include('auditoria/_form.html.twig') }}

    <a href="{{ path('app_auditoria_index') }}">Volver a la lista</a>
{% endblock %}
