{% extends 'base.html.twig' %}

{% block title %}Lista Vehiculo Siniestro{% endblock %}

{% block body %}
    <h1>Lista Vehiculo Siniestro</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculo_siniestro in vehiculo_siniestros %}
            <tr>
                <td>{{ vehiculo_siniestro.id }}</td>
                <td>
                    <a href="{{ path('app_vehiculo_siniestro_show', {'id': vehiculo_siniestro.id}) }}">Ver</a>
                    <a href="{{ path('app_vehiculo_siniestro_edit', {'id': vehiculo_siniestro.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehiculo_siniestro_new') }}">Crear nuevo Vehiculo Siniestro</a>
{% endblock %}
