{% extends 'base.html.twig' %}

{% block title %}VehiculoSiniestro index{% endblock %}

{% block body %}
    <h1>VehiculoSiniestro index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculo_siniestro in vehiculo_siniestros %}
            <tr>
                <td>{{ vehiculo_siniestro.id }}</td>
                <td>
                    <a href="{{ path('app_vehiculo_siniestro_show', {'id': vehiculo_siniestro.id}) }}">show</a>
                    <a href="{{ path('app_vehiculo_siniestro_edit', {'id': vehiculo_siniestro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehiculo_siniestro_new') }}">Create new</a>
{% endblock %}
