{% extends 'base.html.twig' %}

{% block title %}New VehiculoSiniestro{% endblock %}

{% block body %}
    <h1>Create new VehiculoSiniestro</h1>

    {{ include('vehiculo_siniestro/_form.html.twig') }}

    <a href="{{ path('app_vehiculo_siniestro_index') }}">back to list</a>
{% endblock %}
