{% extends 'base.html.twig' %}

{% block title %}Nuevo Vehiculo Siniestro{% endblock %}

{% block body %}
    <h1>Crear nuevo Vehiculo Siniestro</h1>

    {{ include('vehiculo_siniestro/_form.html.twig') }}

    <a href="{{ path('app_vehiculo_siniestro_index') }}">Volver a la lista</a>
{% endblock %}
