<form method="post" action="{{ path('app_detalle_siniestro_delete', {'id': detalle_siniestro.id}) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este elemento?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detalle_siniestro.id) }}">
    <button class="btn">Eliminar</button>
</form>
